.section {
    background-color: white;
    margin: 10px 0;
    box-shadow: 0.5px 0.5px 1px #ccc;
}

.section__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0px;
    border-bottom: 2px solid #eee;
}

.section__body {
    padding: 10px;
}

@media (max-width:700px) {
    .section__header {
        justify-content: stretch;
        flex-direction: column;
    }
}
