.form {
    display: flex;
}

.form__input {
    flex-grow: 2;
    height: 30px;
    width: calc(100% - 8px);
    padding-left: 7px;
}

.form__button {
    flex-shrink: 0;
    height: 35.94px;
    background-color: teal;
    color: white;
    border-style: none;
    transition: 0.3s;
    margin-left: 20px;
}

@media (max-width: 700px) {
    .form {
        flex-direction: column;
    }

    .form__button {
        width: 100%;
        margin: 10px 0px 0px 0px;
    }
}

.form__button:hover {
    background-color: rgb(0, 162, 162);
    transform: scale(1.07);
    cursor:pointer;
}

.form__button:active {
    background-color: rgb(0, 190, 190);
}